.cabeçalho__menu-hamburguer {
    width: 1.5em;
    height: 1.5em;
    background-image: url("../MenuDownloadsemVetor.svg");
    background-repeat: no-repeat; /*evita  que o padding do container__imagem afete expandido o svg*/
    background-position: center; /*especificamente para o íucone de hamburguer gfisem repear*/
    display: inline-block;
  
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.container {
    display: flex;
    align-items: center;

}

.container__imagem { 
    padding: 1.2em;
}


.lista-menu {
    display:none;
    position: absolute;
    top: 100%;
    /* Não faz diferença se bota as duas últimas propriedades aqui ou depois, o importante é ele mostrar no local correto */

}

.container__botao:checked~.lista-menu {
    display: block;


}



.lista-menu__titulo,
.lista-menu__item{
    padding: 1em;
    background-color: var(--branco);


}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;

}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;

}

.container__botao {
    display: none;

}